<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/solid.min.css">
    <script src="https://kit.fontawesome.com/b3f6b70872.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Rent Buy Sell</title>
  </head>
  <body>
    <header>
<nav>
  <div id="logo">
    <img src="image/real-estate.svg" alt="rentbuysell" width="64" height="42" top="0" left="34">
  </div>
  <div class="nav-list">
<ul id="nav-list">
  <li><a href="/">HOME</a></li>
  <li><a href="/sell">SELL</a></li>
  <% if(!locals.auth){ %>
  <li><a href="/login">LOGIN</a></li>
  <li><a href="/register">REGISTER</a></li>
  <%}%>
  <%if(locals.auth){%>
  <li>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" width="30" height="30" class="rounded-circle">
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <%if(user){%>
        <p>Signed in as <%=user.name%></p>
        <%}%>
        <a class="dropdown-item" href="#">Dashboard</a>
        <a class="dropdown-item" href="#">Edit Profile</a>
        <a class="dropdown-item" href="/logout">Log Out</a>
      </div>
    </li>   
  </ul>
  </li>
  <%}%>
</ul>
  </div>
</nav>
    </header>