<%- include("./partials/header.ejs") -%>
    <div id="land">
        <div id="land-text">
            <h2>Rent, Buy, Sell
                Books
                All in one place</h2>
        </div>
        <div id="scroll-down">
            <a href="#grid-book" id="down">
                <!-- <img src="\image\arrow-down-sign-to-navigate.svg" height="50" width="50" style="color: white;"> -->
                <i class="fas fa-chevron-down"></i>
            </a>
            
                </div>
    </div>
    <div id="grid-book">
        <h2>ADD TABS SHOW RENT/BUY BOOKS</h2>
        <h2>ADD TABS SHOW RENT/BUY BOOKS</h2>
        <h2>ADD TABS SHOW RENT/BUY BOOKS</h2>
        <h2>ADD TABS SHOW RENT/BUY BOOKS</h2>
    </div>

<%- include("./partials/footer.ejs") -%>
