@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Righteous&display=swap');
html {
    scroll-behavior: smooth;
  }
body{
    /* background-color: #FAE7CB; */
}
nav{
    background: #FFD31D;
    color: black;
    display: flex;
    justify-content: space-between;
    height: 42px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-right: 50px;
}
#nav-list{
    display: flex;
    list-style: none;
   
}
#nav-list li a{
    display: block;
    width: 107px;
height: 50px;
left: 600px;
top: 0px;
/* font-family: Rounded Mplus 1c; */
font-family: 'Righteous', cursive;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 43px;
text-align: center;

color: #000000;
}

a#navbarDropdownMenuLink.nav-link.dropdown-toggle{
    padding: 0px;
    margin-top: -5px;
}

/*land*/

#land{

height: 94vh;
/* background: url('/image/Books-for-Survey.jpg');
border: 1px solid #000000;
box-sizing: border-box;
background-repeat: no-repeat;
background-size: cover; */
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
box-shadow: inset 0 0 0 1000px  rgba(0, 0, 0, 0.7);
background: rgb(0, 0, 0,0.8) url("/image/Books-for-Survey.jpg") right no-repeat;
background-size: cover;
display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color:white;
  font-family: 'Righteous', cursive;
  
}

#land-text{
    font-size: 96px;
}

/*land*/

/*grid*/

.fa-chevron-down{
    color: white !important;
    font-size: 48px;
}

/*
*filters
*/
#filter{
    display:flex;
   
    margin-top: 2%;
 
   
}
#filters{
    margin-right: auto;
    margin-left:7%;
}
#search-form{
    margin-right:7%;
}
#filters,#modalFilter{
    background-color: #002347; color:white;
}


/*grid*/

/*
*
* grid items 
*
*/

#grid-book{
    margin: 0px 8%;   
    
}

.bookcard{
    margin:35px 10px;
    /* box-shadow: 5px 5px rgb(0, 0, 0,0.3); */
    /* box-shadow: 5px 9px #FFB385; */

}



.bookbtn{
    /* background-color: #FF7272; */
    
}

#grid-book-row-4{
    display: flex;
    justify-content:flex-start;
    
    padding-top:5px;
}
#grid-book-row-4 > div {
    
}

.price-btn{
    background-color: #002347;
    width: 30%;
    margin-right: 20%;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    font-weight: 600;

}

#grid-book-row-3{
    display: flex; 
    justify-content: space-around;
    font-weight: 600;
}
#grid-book-row-3 > div {
  
}

/*font styling grid*/
#grid-book-row-2{
    font-weight: 600;
}
#grid-book-row-1{
    color: #002347;
}

/*pagination*/
#pagination{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.page-link{
    color: #000000 !important;
}
/*
* home page
*/


/*
* login page
*/

#login-form{
    width:40%;
padding:2% 3%;

background: #FFB385;
border-radius: 60px;
display:flex;
align-items: center;
justify-content: center;
/* flex-direction: column; */
margin-top: 10%;

}
#login-btn{
    background-color: #FF7272;
}


/*
* signup page
*/

#signup-form{
    width:40%;
padding:2% 3%;

background: #FFB385;
border-radius: 60px;
display:flex;
align-items: center;
justify-content: center;
/* flex-direction: column; */
margin-top: 5%;

}
#signup-btn{
    background-color: #FF7272;
}

/*
* filters page
*/

#booknotfoundalert{
    margin-top: 5%;
    height:250px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFB385;

    color: black;
}

#detail{
    padding: 5px 0px;
    background-color: #FF7272;
    margin-bottom: 20px;
}
#detail ul{
    list-style: none;
    color:whitesmoke;
}

#detail ul li{
    padding: 2px;
    
}
#success{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*dashboard*/
#dashboard h2{
    text-align: center;
    margin-top: 30px;

}
.label-navy{

background-color: #FFD31D;
background-color:#002347;
color:white;
padding:5px 12px;
border-radius: 60px;
}
